.body {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
}

.card {
  display: inline-block;
  max-width: 800px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}
